body {
    margin: 0;
    padding: 0;
    background-color: #fff; /* White background */
    color: #007bff; /* Blue text color */
}

.navbar {
    background-color: #fff; /* White background */
    text-align: center;
    padding: 10px 0;
}

.navbar-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.navbar-list li {
    display: inline-block;
}

.navbar-right {
    float: right;
}

.navbar-link {
    display: inline-block;
    color: #007bff; /* Blue text color */
    text-decoration: none;
    padding: 20px;
}

.navbar-button {
    display: inline-block;
    color: #fff;
    background-color: #007bff; /* Blue background color */
    border: none;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin-right: 5px;
}

.navbar-button-outline {
    background-color: transparent;
    color: #007bff;
    border: 2px solid #007bff; /* Blue border */
    padding: 8px 20px; /* Added padding to the right of the button */
   
}

.navbar-button:hover {
    background-color: #007bff; /* Darker blue background color on hover */
    color: white;
    cursor: pointer;
}
